/* variables */
/* fin variables */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
}

.page {
  position: relative;
  height: 100vh;
  width: 100%;
}

.container {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas: "nav    aside" "section aside" "footer  aside";
}

.navbar {
  grid-area: nav;
  display: flex;
}
.navbar .navbar-content {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  padding: 0 0 0 80px;
  animation: navbarmove 2s ease-in-out 0.8s;
}
@keyframes navbarmove {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}
.navbar img {
  width: 50px;
  height: 50px;
}
.navbar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width: 450px;
}
.navbar ul a {
  text-decoration: none;
  color: #d5040a;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.navbar ul a:hover {
  color: rgb(111, 0, 0);
}

.main-content {
  grid-area: section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: maincontent 2s ease-in-out 1s;
  padding-left: 80px;
}
@keyframes maincontent {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0);
  }
}
.main-content p:first-child {
  font-family: "Lato", sans-serif;
  margin-bottom: 1px;
  font-size: 3.6rem;
  font-weight: 300;
  margin: 0 0 -10px 40px;
}
.main-content p:last-child {
  font-weight: 100;
  margin-top: 20px;
  margin: 0;
  width: 60%;
}
.main-content h1 {
  font-size: 4.8rem;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.side-content {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  grid-area: aside;
}
.side-content p {
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
  opacity: 0;
  grid-row: 1/2;
  grid-column: 1/2;
  transform: rotate(-90deg);
  animation-name: supermantext;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}
.side-content img {
  width: 100%;
  grid-column: 2/6;
  grid-row: 1/2;
  animation: supermanup;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transform: translateY(1500px);
}
@keyframes supermanup {
  0% {
    transform: translateY(1500px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes supermantext {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.side-content .yellow-background {
  width: 100%;
  height: 100%;
  background: #ffd602;
  grid-column: 4/7;
  grid-row: 1/2;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background: #ffd602;
  transform: translateY(600px);
  border-radius: 0 80px 0 0;
  animation-name: footerup;
  animation-duration: 0.5s;
  animation-delay: 2.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes footerup {
  0% {
    transform: translateY(600px);
  }
  100% {
    transform: translateY(0px);
  }
}
.footer div {
  width: 150px;
  height: 100px;
  background: #036cb6;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: flexbox;
  justify-content: center;
  transform: translateY(0px);
  transition: transform 0.5s ease-in-out;
}
.footer div:hover {
  transform: translateY(20px);
  background: #0382dd;
  transition: transform 0.3s ease-in-out;
}
.footer img {
  position: absolute;
  width: 160px;
  height: 160px;
  bottom: 40px;
  transform: translateY(0) scale(1);
  transition: transform 0.5s ease-in-out;
}
.footer img:hover {
  cursor: pointer;
  transform: translateY(-20px) scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 4;
  display: grid;
  place-items: center;
}

.modal-content {
  background: #F2F2F2;
  width: 50%;
  height: 50%;
  display: grid;
  place-items: center;
}

.hidden {
  display: none;
}

.visible {
  display: grid;
}

.closeIcon {
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s ease-in;
}
.closeIcon:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.loader {
  background: #F2C12E;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;
  animation: loader 2s linear forwards;
}
.loader div {
  background: #F2D0A7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 20px;
  animation: dots 2s ease-in-out infinite;
}
.loader :nth-child(1) {
  animation-delay: 0.2s;
}
.loader :nth-child(2) {
  animation-delay: 0.4s;
}
.loader :nth-child(3) {
  animation-delay: 0.6s;
}

/* slider */
.modal-content-slider {
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  /* hacemos el silder */
  /* empezamos a hacer las animaciones para desplazar las cartas */
}
.modal-content-slider .cards {
  position: relative;
  width: 100%;
  height: 100%;
}
.modal-content-slider .card {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease-out;
  cursor: pointer;
  display: grid;
  place-items: center;
  background: #ffd602;
}
.modal-content-slider .card img {
  width: 150px;
  height: 150px;
}
.modal-content-slider #radio-1:checked ~ .cards #card-1,
.modal-content-slider #radio-2:checked ~ .cards #card-2,
.modal-content-slider #radio-3:checked ~ .cards #card-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}
.modal-content-slider #radio-1,
.modal-content-slider #radio-2,
.modal-content-slider #radio-3 {
  display: none;
}
.modal-content-slider #radio-1:checked ~ .cards #card-2,
.modal-content-slider #radio-2:checked ~ .cards #card-3,
.modal-content-slider #radio-3:checked ~ .cards #card-1 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}
.modal-content-slider #radio-1:checked ~ .cards #card-3,
.modal-content-slider #radio-2:checked ~ .cards #card-3,
.modal-content-slider #radio-3:checked ~ .cards #card-1 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}
.modal-content-slider #radio-1:checked ~ .cards #card-3,
.modal-content-slider #radio-2:checked ~ .cards #card-1,
.modal-content-slider #radio-3:checked ~ .cards #card-2 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}

.loquiero {
  width: 200px;
  height: 40px;
  background-color: #d5040a;
  color: #F2F2F2;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s ease-out;
}
.loquiero:hover {
  background-color: #970106;
  transform: scale(1.2);
  transition: transform 0.3s ease-in;
}

/* end slider */
.modal-close-aling {
  place-self: end;
  align-self: start;
  position: relative;
  right: 20px;
  top: 10px;
}

/* animaciones loader */
@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes dots {
  0%, 100% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */