/* variables */
$yellow : #ffd602;
$red: #d5040a;
$blue: #036cb6;
$white: #F2F2F2;
$loaderYellow:#F2C12E;
$ligthYellow: #F2D0A7;
$font-family: 'Lato', sans-serif;
/* fin variables */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    height: 100vh;
    overflow: hidden;
}

.page{
    position: relative;
    height: 100vh;
    width: 100%;
}

.container{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 20%  50% 30%;
    grid-template-areas: "nav    aside"
                        "section aside"
                        "footer  aside";
}

.navbar{

    grid-area: nav;
    display: flex;
    .navbar-content{
        display: flex;
        flex-flow: row;
        align-items: center;
        width: 100%;
        padding: 0 0 0 80px;
        animation: navbarmove 2s ease-in-out 0.8s;
     
        @keyframes navbarmove{
            0%{
               transform: translateY(-200px);
            }
            100%{
                transform: translateY(0px);
            }
        }
    }        
        img{
          
            width: 50px;
            height: 50px;
        }
        ul{
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            padding: 0;
            width: 450px;
            a{
                text-decoration: none;
                color: $red;
                font-family: $font-family;
                font-weight: 600;
                &:hover{
                    color: $white;
                }
            }
        }
       

}

.main-content{
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: maincontent 2s ease-in-out 1s;
    padding-left: 80px;
    @keyframes maincontent{
        0%{
            transform: translateY(-500px);
        }
        100%{
            transform: translateY(0);
        }
    }
    p:first-child{
        font-family: $font-family;
        margin-bottom: 1px;
        font-size: 3.6rem;
        font-weight: 300;
        margin: 0 0 -10px 40px;
    }
    p:last-child{
        font-weight: 100;
        margin-top: 20px;
        margin: 0;
        width: 60%;
    }
    h1{
        font-size: 4.8rem;
        font-weight: 700;
        margin: 0 0 30px 0;
    }
}


.loader{
    background:$loaderYellow;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;

    animation: loader 2s linear forwards;

    div{
        background:$ligthYellow;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 20px;
        animation: dots 2s ease-in-out infinite;
    }
    :nth-child(1){
        animation-delay: 0.2s;
    }
    :nth-child(2){
        animation-delay: 0.4s;
    }
    :nth-child(3){
        animation-delay: 0.6s;
    }
}

/* animaciones loader */

@keyframes loader{
    0%{
        opacity: 1;
        visibility: visible;
    }

    95%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes dots{
    0%, 100%{
        transform: scale(0.2);
    }
    40%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }   
}

